<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Devbridge.BackupDatabaseAzureStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="nLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Devbridge.BackupDatabaseAzureStorage.Properties.Settings>
      <setting name="DACWebServiceUrl" serializeAs="String">
        <value>https://ch1prod-dacsvc.azure.com/DACWebService.svc</value>
      </setting>
      <setting name="DatabaseUserName" serializeAs="String">
        <value>Webtype</value>
      </setting>
      <setting name="ExportFileNameFormat" serializeAs="String">
        <value>https://{2}.blob.core.windows.net/{3}/{0}/{0}-{1:yyyy-MM-dd-hh-mm-ss-fff}.bacpac</value>
      </setting>
      <setting name="StorageName" serializeAs="String">
        <value>webtype</value>
      </setting>
      <setting name="BackupsContainer" serializeAs="String">
        <value>databasebackups</value>
      </setting>
      <setting name="BackupFilesToKeep" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StorageAccessKey" serializeAs="String">
        <value>[StorageAccessKey]</value>
      </setting>
      <setting name="DatabaseUserPassword" serializeAs="String">
        <value>[Password]</value>
      </setting>
      <setting name="BackupedDatabases" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>WebtypeLogs</string>
            <string>Webtype</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DatabaseServerName" serializeAs="String">
        <value>asadasdv.database.windows.net</value>
      </setting>
    </Devbridge.BackupDatabaseAzureStorage.Properties.Settings>
  </applicationSettings>
</configuration>