<basicAuth>
  <credentials>
    <add username="test" password="test"/>
  </credentials>
  <!-- url and verb can specified as regular exprenssion. Empty or not defined value means that all values are mathched.-->
  <excludes>
    <!-- exclude POST requests to URLs starting with /home; other requests (GET to /home/index, POST to /account/login) should be authenticated -->
    <add url="^/home(.*)" verb="post" />
    <!-- exclude POST requests to all URLs; other requests (GET to /home/index, DELETE to /account/123) should be authenticated -->
    <add url="" verb="post" />
    <!-- exclude all requests to URLs starting with /allow; other requests should be authenticated -->
    <add url="^/allow(.*)" verb="" />
    <!-- exclude all requests to URLs starting with /home; rules specified below overwrite previous rules with the same url pattern.  -->
    <add url="^/home(.*)" verb="" />    
  </excludes>
</basicAuth>
